/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
}

#video-container {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    position: relative;
}

#video-container video {
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#face-canvas {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

#face-canvas canvas {
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-to-menu {
    margin-top: 20px;
}

